.App {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0.5rem;
  font-family: tahoma;
  color: #444;
  align-items: center;
}

.button {
  border-radius: 34px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 11px 26px 11px 26px;
  background: linear-gradient(180deg, #013a41 26.71%, #013237 99.36%);
  box-shadow: 0px 20px 24px 3px rgba(76, 167, 113, 0.42);
}

.button:hover {
  background: white;
  cursor: pointer;
  color: rgb(17, 172, 233);
  border: 1px solid rgb(17, 172, 233);
}